.wrapper-35wsBm {
	-webkit-box-sizing: border-box;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	padding: 10px 15px 10px 10px;
	width: 400px
}

.userSelectNone-Iy6XEP {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none
}

.cursorDefault-331ZcI {
	cursor: default
}

.h4-AQvcAz,
.h5-18_1nd {
	text-transform: uppercase
}

.h5-18_1nd {
	letter-spacing: .5px
}

.title-3sZWYQ {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	cursor: default;
	flex: 1
}

.size12-3R0845 {
	font-size: 12px
}

.height16-2Lv3qA {
	line-height: 16px
}

.weightSemiBold-NJexzi {
	font-weight: 600
}

.header-2BTCnc {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.marginBottom8-AtZOdT {
	margin-bottom: 8px
}

.content-2U5lSY {
	-ms-flex-flow: row nowrap;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap
}

.icon-3o6xvg {
	background-clip: padding-box;
	background-color: none;
	background-position: 50%;
	background-size: 100% 100%;
	position: relative
}

.guildIconImageJoined-SepVdI {
	cursor: pointer
}

.theme-dark .guildIconImage-3qTk45 {
	background-color: #36393f
}

.theme-dark .lowBackgroundOpacity-3m4tl3 .guildIcon-lQ0uiM {
	opacity: .6
}

.iconSizeLarge-161qtT {
	height: 50px;
	width: 50px
}

.iconActiveLarge-2nzn9z {
	border-radius: 15px
}

